.bgAndSlider {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.background {
  position: relative;
  display: block;
  height: 100dvh;
  width: 100dvw;
}

.background img {
  position: relative;
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sliderContainer {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
}

.sliderText {
  position: relative;
  display: flex;
}

.sliderText p {
  position: relative;
  display: block;
  white-space: nowrap;
  font-size: clamp(100px, 20vw, 200px);
  color: white;
  padding-right: 40px;
}

.sliderText p:nth-of-type(2) {
  position: absolute;
  display: block;
  top: 0;
  left: 100%;
}
